:root {
	/* 侧边栏宽度 */
	--sidebar-width: 20rem;
	--sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  
	/* 内容区域宽度 */
	--content-width: 85%;
  
	/* 消除[代码选项卡]左右上角的空隙 */
	.vp-code-tabs .vp-code-tab {    
		--code-border-radius: 0 0 6px 6px;
	}
}

/* 调整 最近更新/作者 位置 */
.meta-bottom-right {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20;
}

/* 设置表格占满整个宽度, 并且列等分宽度 */
table {
  display: table;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  text-align: center;
}